@charset "UTF-8";
*{font-family: /*"Helvetica Neue",Helvetica,Arial,*/"Microsoft Yahei",Arial,sans-serif; color: #333333;}
i{ display: inline-block; font-style: normal;}

button{ font-size: 16px; color: #333333; border: none; background: transparent; vertical-align:middle;cursor:pointer; outline: none;}
.jy_title{position: relative;}
.jy_title:hover::after{ content: attr(data-title); position: absolute; height: 24px; line-height: 24px; padding: 0 5px; white-space: nowrap; font-size: 12px; color: #ffffff; background: #303030; text-align: center; border-radius: 4px;}

.icon_20{ width: 20px; height: 20px; background-image: url(../images/icon_20.png);}
.icon_40{ width: 40px; height: 40px; background-image: url(../images/icon_40.png);}
.icon_60{ width: 60px; height: 60px; background-image: url(../images/icon_60.png);}
.icon_80{ width: 80px; height: 80px; background-image: url(../images/icon_80.png);}
.icon_100{ width: 100px; height: 100px; background-image: url(../images/icon_100.png);}

#jysvgsign{ position: relative; width: 100%; height: 100%; margin: 0 auto; background: #f7f7f7; text-align: center; cursor: default;}
#jysvgsign .hint{ position: absolute; bottom: 0; left: 20px; right: 20px; padding: 10px 0; font-size: 14px; color: #aaaaaa; border-top: 1px dashed #cccccc;}
#jysvgsign .svgbox{ position: relative; width: 100%; height: 100%; overflow: hidden; cursor: crosshair;}
#jysvgsign .btnbox{ position: absolute; top: 0; left: 0;}
#jysvgsign .btnbox>div{ position: relative; float: left; width: 40px; height: 40px;}
#jysvgsign .btnbox>div:hover::after{ top: 40px; left: 10px;}
#jysvgsign #outsvg{ width: 100%; height: 100%;}
#jysvgsign .btnbox .btn{ width: 40px; height: 40px; padding: 0;}
#jysvgsign .btnbox .btn:hover::after{ top: 40px; left: 10px;}
#jysvgsign .btnbox .btn:active i{ transform: scale(0.8,0.8);}
#jysvgsign .btnbox .btn i{ display: block; margin: 10px;}
#jysvgsign .btnbox .celect{ display: none; position: absolute; top: 40px; left: 0; width: 150px; padding: 10px 5px; border: 1px solid #999999; background: #ffffff; text-align: left;}
#jysvgsign .btnbox .celect span{ font-size: 14px; color: #666666; white-space: nowrap;}
#jysvgsign .colorbtn .btn i{ background-position: -0px -140px;}
#jysvgsign .colorbtn .celect button{ float: left; width: 40px; height: 20px; margin: 5px;}
#jysvgsign .typebtn .btn i{ background-position: -100px -140px;}
#jysvgsign .typebtn .celect button{ float: left; width: 140px; height: 20px; margin: 5px; padding: 0;}
#jysvgsign .typebtn .celect button i{ width: 140px;}
#jysvgsign .sizebtn .btn i{ background-position: -140px -140px;}
#jysvgsign .sizebtn .celect button{ float: left; width: 20px; height: 20px; margin: 5px;}
#jysvgsign .sizebtn .celect button i{ display: block; margin: auto; background: #333333; border-radius: 50%;}
#jysvgsign .undobtn .btn i{ background-position: -180px -140px;}
#jysvgsign .clearbtn .btn i{ background-position: -60px -140px;}
#jysvgsign .finishbtn .btn i{ background-position: -40px -180px;}
#jysvgsign[data-size=size1]{ width: 100%; height: 100%;}
#jysvgsign[data-size=size2]{ width: 600px; height: 400px;}
#jysvgsign[data-size=size1] #outsvg{ width: 100%; height: 100%;}
#jysvgsign[data-size=size2] #outsvg{ width: 600px; height: 600px; margin-top: -100px;}
